# ----------------------
# .NET / Visual Studio / Rider
# ----------------------

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
*.exe
*.dll
*.pdb
*.cache
*.log

# JetBrains Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Visual Studio artifacts
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.psmdcp
.nuget/
packages/
# Uncomment if you don't want to check in dependencies
# **/packages/*/

# Dotnet tools / restore artifacts
project.lock.json
project.fragment.lock.json
artifacts/
*.deps.json
*.runtimeconfig.json

# Test results
TestResult*/
[Tt]est[Rr]esults/
*.coverage
*.coveragexml

# Publish
*.publish.xml
*.pubxml
*.pubxml.user

# Others
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db
